@import "../assets/scss/common";
h1 {
    width: pxToRem(750);
    height: pxToRem(1334);
    background: darkblue;
}

nav {
    width: 100%;
    height: pxToRem(120);
    position: absolute;
    bottom: 0;
    left: 0;
    background: #aaa;
    @include _flex(row);
    a {
        flex: 1;
        @include _flex(column);
        @extend %flexmid;
    }
}